@page
@*@page
    @model LoginModel

    @{
        ViewData["Title"] = "Log in";
    }

    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
<!-- body -->
@model LoginModel
<div class="PageLayout_PageAligment" >
    <div class="Hero_Wrapper LoginView_Hero">
        <div class="Hero_FirstPane">
            <div class="Hero_HeroPane">
                <div class="Hero_HeroPaneContent LoginView_HeroPaneContent">
                    <img alt="Red Jordan 1s" src="~/image/login.jpg"
                         class="LoginView_Jordans">
                </div>
            </div>
        </div>
        <div class="Hero_SecondPane">
            <form class="LoginForm" id="LoginForm" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <div class="Hero_HeroPane LoginForm_HeroPane">
                    <div class="Hero_HeroPaneContent LoginForm_HeroPaneContent">
                        <header class="LoginForm_Header">
                            <h1 class="LoginForm_Title">Log In</h1>
                            <p class="LoginForm_Subtitle">
                                You need to be logged in
                                to continue.
                            </p><a onclick="showForm('LoginForm','RegisterForm')" class="LoginForm_CreateAccountButton"
                                   href="~/Identity/Account/Register" >Sign Up</a>
                        </header>
                        <main class="LoginForm_Main">
                            <div class="MaterialInput_Content">
                                <label class="MaterialInput_Label">
                                    <input asp-for="Input.Email"
                                           class="MaterialInput_Input" value=""><span class="MaterialInput_LabelCopy">Email or Username</span>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </label>
                            </div>
                            <div class="LoginForm_InputWrapper">
                                <div class="MaterialInput_Content">
                                    <label class="MaterialInput_Label">
                                        <input asp-for="Input.Password" password" type="password" autocomplete=""
                                               aria-label="Password"
                                               class="MaterialInput_Input" value=""><span class="MaterialInput_LabelCopy">Password</span>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </label>
                                </div><button type="button" class="LoginForm_ForgotPasswordButton">
                                    <span>Forgot</span>
                                </button>
                            </div>
                        </main>
                    </div>
                    <div class="LoginForm_Error"></div>
                    <nav class="Hero_HeroPaneLoginActions">
                        <span class="Hero_Border">
                            <button type="submit"
                                    class="GoatButton_Wrapper Hero_Button">
                                Log
                                In
                            </button>
                        </span>
                    </nav>
                </div>
            </form>

        </div>
    </div>
</div>